/* --------------- General Styling ---------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-font-primary: sans-serif;
  --text-color: rgb(91, 91, 91);
  --background-color: rgb(207, 207, 207);
  --background-color-secondary: rgba(164, 228, 96, 0.6);
  --header-color: rgba(255, 255, 255, 0.6);
  --input-color: #e8e8e8;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  width: 100vw;
}

p,
h2,
h3,
li {
  font-family: var(--text-font-primary);
  color: var(--text-color);
}

body::-webkit-scrollbar {
  display: none;
}

/* --------------- Header Styling ---------------- */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: 0.3s;
}

.header.open {
  background-color: var(--header-color);
  backdrop-filter: blur(5px);
}

.header.scrolled {
  background-color: var(--header-color);
  backdrop-filter: blur(5px);
  z-index: 11;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  height: 100%;
  width: 85%;
  margin: 0 auto;
}

.header__logo-link {
  display: flex;
  align-items: center;
  width: 140px;
  height: 45px;
  margin: 5px 0;
  flex-shrink: 0;
}

.header__logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (min-width: 480px) {
  .header__logo-link {
    width: 180px;
    height: 60px;
  }
  .header__inner {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .hamburger__bg {
    display: none;
  }
  .header__logo-link {
    width: 200px;
    height: 70px;
  }
}

/* @media (min-width: 1300px) {
  .header__inner {
    width: 100%;
  }
} */

/* --------------- Navbar Styling ---------------- */

.nav {
  display: none;
  font-weight: 600;
  transform: translateX(30px);
}

.hamburger {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto 0;
  width: 35px;
  height: 30px;
  cursor: pointer;
}

.hamburger__bar {
  background: var(--text-color);
  height: 4px;
  width: 35px;
  /* margin: 3px; */
  border-radius: 10px;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hamburger:hover .hamburger:focus {
  outline: none;
}

.hamburger.open:hover .hamburger__bar:nth-child(1),
.hamburger.open:focus .hamburger__bar:nth-child(1) {
  transform: translateY(10.1px) rotate(-45deg);
  transition: top 0.2s, transform 0.3s 0.1s;
}

.hamburger.open:hover .hamburger__bar:nth-child(2),
.hamburger.open:focus .hamburger__bar:nth-child(2) {
  visibility: hidden;
}

.hamburger.open:hover .hamburger__bar:nth-child(3),
.hamburger.open:focus .hamburger__bar:nth-child(3) {
  transform: translateY(-10.1px) rotate(45deg);
  transition: bottom 0.2s, transform 0.3s 0.1s;
}

.hamburger__bg {
  display: none;
}

.hamburger__bg.open {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 180px;
  width: 100vw;
  height: 100vh;
}

.hamburger__link {
  position: relative;
  text-align: center;
  margin: 30px auto;
  width: 100%;
  color: var(--text-color);
  font-weight: 600;
  font-family: var(--text-font-primary);
  font-size: 20px;
  letter-spacing: 0.4px;
  text-decoration: none;
  opacity: 0.9;
  transition: 0.3s;
}

.hamburger__link::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 3px;
  border-radius: 5px;
  background-color: var(--text-color);
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s ease-out;
}

.nav__link {
  display: flex;
  position: relative;
  margin-right: 30px;
  color: var(--text-color);
  font-family: var(--text-font-primary);
  font-size: 16px;
  letter-spacing: 0.4px;
  text-decoration: none;
  opacity: 0.9;
  transition: 0.3s;
}

.nav__link::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 3px;
  border-radius: 5px;
  background-color: var(--text-color);
  bottom: -2px;
  left: 0;
  opacity: 0.85;
  transition: 0.3s ease-out;
}

.nav__link:hover:after {
  width: 100%;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
  }
  .hamburger {
    display: none;
  }
  .hamburger__bg.open {
    display: none;
  }
}

/* --------------- Landing Styling ---------------- */

.landing {
  width: 100vw;
  height: 100vh;
  margin-bottom: 60px;
}

.landing__figure {
  width: 100%;
  height: 100%;
}

.landing__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 480px) {
  .landing {
    width: 100vw;
    height: 80vh;
  }
}

/* --------------- Section Styling ---------------- */

.section {
  background-color: var(--background-color);
}

.section__inner {
  width: 85%;
  margin: 0 auto;
  padding: 70px 0px;
}

.section__inner_projects {
  padding-top: 120px;
}

.section__heading {
  position: relative;
  padding-bottom: 4px;
  margin-bottom: 24px;
  font-size: 32px;
  text-align: center;
}

.section__heading_onama {
  text-align: start;
}

.section__heading_onama {
  text-align: center;
}

.section__heading_onama::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--text-color);
  border-radius: 10px;
  content: "";
  width: 150px;
  height: 2px;
}

.section__heading_usluge::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--text-color);
  border-radius: 10px;
  content: "";
  width: 150px;
  height: 2px;
}

.section__heading_kontakt::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--text-color);
  content: "";
  width: 340px;
  height: 2px;
}

.section__subheading {
  text-align: center;
  font-size: 20px;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .section__inner {
    padding: 90px 0px;
  }
  .section__heading {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .section__subheading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 24px;
  }
}

@media (min-width: 1024px) {
}

/* --------------- O nama Section Styling ---------------- */

.onama__wrapper {
  display: flex;
  flex-direction: column;
}

.onama_text-wrapper {
  margin-bottom: 24px;
}

.onama__text {
  margin-bottom: 8px;
  margin-top: 8px;
  letter-spacing: 0.7px;
}

.onama__lista {
  margin-left: 32px;
}

.onama__figure {
  width: 100%;
  height: 300px;
  border-radius: 16px;
  overflow: hidden;
}

.onama__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 550px) {
  .onama__figure {
    height: 400px;
  }
}

@media (min-width: 1024px) {
  .onama__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
  .onama__figure {
    height: 450px;
    margin: auto;
    border-radius: 16px;
    overflow: hidden;
  }
}

/* --------------- Usluge Section Styling ---------------- */

.usluge__grid {
  margin: 24px auto;
  display: grid;
  grid-template-rows: 1fr;
  column-gap: 24px;
  row-gap: 24px;
}

.usluge__card {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--input-color);
  border-radius: 16px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}

/* -----> potrebno je uredit figure tj. visine slika */

.usluge__figure {
  /* height: 70%; */
  margin-bottom: 24px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.usluge__img {
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
  object-fit: cover;
}

.usluge__img:hover {
  transform: scale(1.1);
}

.usluge__text {
  /* margin-bottom: 24px; */
  text-align: center;
}

@media (min-width: 480px) {
}

@media (min-width: 600px) {
  .usluge__grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1150px) {
  .usluge__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* --------------- Kontakt Section Styling ---------------- */

.grid {
  display: grid;
  grid-template-rows: auto 1fr;
  margin-top: 24px;
}

.info__wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  border-radius: 32px;
  background-color: var(--background-color-secondary);
  box-shadow: rgb(166, 230, 99) 0px 0px 70px 20px;
}

.subheading_address {
  position: relative;
  padding-bottom: 4px;
  margin: 32px auto 24px auto;
}

/* .subheading_address::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--text-color);
  border-radius: 10px;
  content: "";
  width: 140px;
  height: 2px;
} */

.subheading_form {
  position: relative;
  padding-bottom: 4px;
  margin: 32px auto 24px auto;
}

/* .subheading_form::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--text-color);
  border-radius: 10px;
  content: "";
  width: 220px;
  height: 2px;
} */

.info__text {
  text-align: center;
  display: flex;
  margin-bottom: 16px;
  font-size: 16px;
  color: var(--text-color);
}

.info__text i {
  margin-right: 4px;
}

.input__card {
  margin: 0 16px;
}

.input__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input__form {
  width: 100%;
  border: none;
  margin: 4px 0;
  padding: 10px;
  border-radius: 16px;
  background: var(--input-color);
  transition: 0.3s;
  outline-color: var(--input-color);
  font-family: var(--text-font-primary);
  letter-spacing: 0.8px;
  font-size: 14px;
}

@media (min-width: 550px) {
  .input__form {
    width: 60%;
  }
  .info__text {
    font-size: 18px;
  }
  .input__form {
    padding: 10px;
    letter-spacing: 0.8px;
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 24px;
  }
  .subheading_address {
    padding-bottom: 4px;
    margin: 32px 0 32px 0;
  }
  .info__card {
    position: relative;
    top: 70%;
    transform: translateY(-50%);
  }
  .input__form {
    width: 100%;
  }
  .info__text {
    font-size: 20px;
  }
  .input__form {
    padding: 12px;
    border-radius: 16px;
    letter-spacing: 1px;
  }
}

@media (min-width: 1024px) {
  .input__form {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .input__form {
    width: 50%;
  }
}

.input__form:focus {
  outline-color: var(--background-color-secondary);
  background: var(--background-color-secondary);
  transition: 0.1s;
  outline: none;
}

textarea.input__form {
  resize: none;
  min-height: 170px;
  width: 100%;
  font-family: var(--text-font-primary);
  letter-spacing: 1px;
}

textarea.input__form::-webkit-scrollbar {
  width: 14px;
}

textarea.input__form::-webkit-scrollbar-track {
  background-color: rgba(37, 37, 37, 0.5);
  border-radius: 50px;
}

textarea.input__form::-webkit-scrollbar-thumb {
  background-color: rgba(164, 228, 96, 0.6);
  border-radius: 50px;
  border: 3px solid rgba(37, 37, 37, 0.5);
}

textarea.input__form::-webkit-scrollbar-button {
  display: none;
}

.input__button {
  font-family: var(--text-font-primary);
  font-size: 15px;
  font-weight: 600;
  padding: 17px 40px;
  width: 100%;
  margin: 3px auto;
  border-radius: 50px;
  border: 0;
  background-color: var(--input-color);
  color: rgb(61, 61, 61);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.input__button:hover {
  letter-spacing: 2px;
  background-color: var(--background-color-secondary);
  color: var(--text-color);
  box-shadow: var(--background-color-secondary) 0px 7px 29px 0px;
}

.input__button:active {
  letter-spacing: 3px;
  background-color: var(--background-color-secondary);
  color: var(--text-color);
  box-shadow: var(--background-color-secondary) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

.input__button:focus:active {
  outline: none;
  box-shadow: none;
}

.alert__message {
  color: var(--background-color);
  text-align: center;
  margin: 5px;
  display: block;
}

/* --------------- Footer Styling ---------------- */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 150px;
  position: relative;
  bottom: 0;
  left: 0;
  background-color: var(--input-color);
  backdrop-filter: blur(5px);
}

.footer__text {
  font-size: 14px;
  margin: 6px;
}

.footer__text i {
  margin-right: 4px;
}

/* --------------- Gallery Section Styling ---------------- */

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-auto-rows: 100px 300px; mjenja visinu reda naizmjenicno, mozda nije potrebno */
  gap: 10px;
  grid-auto-flow: dense;
}

.gallery__heading {
  font-size: 32px;
  position: relative;
  margin-bottom: 64px;
  text-align: center;
}
.gallery__heading::after {
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--text-color);
  border-radius: 10px;
  content: "";
  width: 300px;
  height: 2px;
}

/* modificiranje slika po širini*/
.gallery__wrapper_w-1 {
  grid-column: span 1;
}
.gallery__wrapper_w-2 {
  grid-column: span 2;
}
.gallery__wrapper_w-3 {
  grid-column: span 3;
}
.gallery__wrapper_w-4 {
  grid-column: span 4;
}
.gallery__wrapper_w-5 {
  grid-column: span 5;
}
.gallery__wrapper_w-6 {
  grid-column: span 6;
}

/* modificiranje slika po visini*/
.gallery__wrapper_h-1 {
  grid-row: span 1;
}
.gallery__wrapper_h-2 {
  grid-row: span 2;
}
.gallery__wrapper_h-3 {
  grid-row: span 3;
}
.gallery__wrapper_h-4 {
  grid-row: span 4;
}
.gallery__wrapper_h-5 {
  grid-row: span 5;
}
.gallery__wrapper_h-6 {
  grid-row: span 6;
}

.gallery__item {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery__figure {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-position: 50% 50%; /* pozicionira sliku u sredinu */
  transition: 0.5s ease-in-out;
}

.gallery__img:hover {
  transform: scale(1.05);
}

.gallery__text {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--input-color);
  font-size: 24px;
  pointer-events: none;
  z-index: 10;
  transition: 0.3s ease-in-out;
  -webkit-backdrop-filter: blur(5px) saturate(1.8);
  backdrop-filter: blur(5px) saturate(1.8);
}

.gallery__item:hover .gallery__text {
  opacity: 1;
  animation: move-down 0.3s linear;
  padding: 8px;
  border-radius: 15px;
}

.touch {
  opacity: 1;
  animation: move-down 0.3s linear;
  padding: 8px;
  border-radius: 15px;
}

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }

  .gallery__wrapper_w-1,
  .gallery__wrapper_w-2,
  .gallery__wrapper_w-3,
  .gallery__wrapper_w-4,
  .gallery__wrapper_w-5,
  .gallery__wrapper_w-6 {
    grid-column: span 1;
  }
  .gallery__wrapper_h-1,
  .gallery__wrapper_h-2,
  .gallery__wrapper_h-3,
  .gallery__wrapper_h-4,
  .gallery__wrapper_h-5,
  .gallery__wrapper_h-6 {
    grid-row: span 1;
  }
  .gallery__heading {
    font-size: 24px;
  }
}

@media (min-width: 500px) {
  .gallery__heading::after {
    width: 400px;
  }
}

@media (max-width: 1024px) {
  .gallery__text {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
}

@media (max-width: 768px) {
  .gallery__text {
    font-size: 18px;
  }
}

/*pomicanje texta prema dolje */
@keyframes move-down {
  0% {
    top: 10%;
  }
  50% {
    top: 35%;
  }
  100% {
    top: 50%;
  }
}
